body {
    margin: 0;
    padding: 0;
    background-color:#1C1C1C;
    /* ou a cor que quiser */
    min-height: 100vh;
}

body::-webkit-scrollbar {  /*disabilita a barra de rolagem*/
    display: none;
}