<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Caroline Martini - Portfólio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">  <!--framework bulma-->
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap" rel="stylesheet"> <!--Fontes-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"> <!--Biblioteca de ícones-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"><!--Biblioteca de ícones-->
    <link rel="stylesheet" href="../css/inicial.css">
 
    
</head>

<body>
    <nav class="navbar is-dark is-fixed-top">
        <div class="navbar-brand">
            <span class="navbar-item has-text-weight-bold">CAROLINE MARTINI</span>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <a href="#sobre" class="navbar-item">SOBRE</a>
                <a href="#HARD-SKILLS" class="navbar-item">HARD-SKILLS</a>
                <a href="#SOFT-SKILLS" class="navbar-item">SOFT-SKILLS</a>
                <a href="#Certificacoes" class="navbar-item">CERTIFICAÇÕES</a>
            </div>
        </div>
    </nav>

    <section class="hero is-fullheight" id="sobre">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered is-centered">
                    <div class="column is-7">
                        <h1 class="title is-9 has-text-weight-bold mb-5">CAROLINE MARTINI</h1>
                        <h2>FULLSTACK DEVELOPER</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="section" id="HARD-SKILLS">
    <div class="container">
        <h2 class="title is-2 has-text-centered mb-6">HARD-SKILLS</h2>
        
        <div class="skills-cards-container">
            <!-- Linguagens de Programação -->
            <div class="skill-category-title">Linguagens de Programação</div>
            <div class="skills-cards-grid has-text-centered">
                <div class="skill-icon-card ">
                    <i class="devicon-java-plain colored"></i>
                    <span>Java</span>
                    <span>Avançado</span>
                </div>
                <div class="skill-icon-card">
                    <i class="devicon-python-plain colored"></i>
                    <span>Python</span>
                    <span>Básico</span>
                </div>
                <div class="skill-icon-card skill-icon-card_php">
                    <i class="devicon-php-plain colored"></i>
                    <span>PHP</span>
                    <span>Intermediário</span>
                </div>
                <div class="skill-icon-card">
                    <i class="devicon-mysql-plain colored"></i>
                    <span>SQL</span>
                    <span>Básico</span>
                </div>
                <div class="skill-icon-card">
                    <i class="devicon-javascript-plain colored"></i>
                    <span>JavaScript</span>
                    <span>Básico</span>
                </div>
            </div>
            
            <!-- Linguagens de Marcação -->
            <div class="skill-category-title">Linguagens de Marcação</div>
            <div class="skills-cards-grid columns is-flex is-vcentered is-justify-content-center">
                <div class="skill-icon-card">
                    <i class="devicon-html5-plain colored"></i>
                    <span>HTML</span>
                    <span>Avançado</span>
                </div>
                <div class="skill-icon-card">
                    <i class="devicon-css3-plain colored"></i>
                    <span>CSS</span>
                    <span>Intermediário</span>
                </div>
            </div>
            <!-- Recursos -->
            <div class="skill-category-title">Recursos</div>
            <div class="skills-cards-grid columns is-flex is-vcentered is-justify-content-center">
                <div class="skill-icon-card">
                    <i class="devicon-ssh-original"></i>
                    <span>Redes</span>
                    <span>Intermediário</span>
                </div>
                <div class="skill-icon-card">
                    <i class="devicon-linux-plain"></i>
                    <span>Linux</span>
                    <span>Básico</span>
                </div>
            </div>

            <div class="skill-category-title">Frameworks</div>
            <div class="skills-cards-grid columns is-flex is-vcentered is-justify-content-center">
                <div class="skill-icon-card">
                    <i class="devicon-django-plain colored"></i>
                    <span>Django</span>
                    <span>Intermediário</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-fullheight" id="SOFT-SKILLS">
    <div class="container">
        <h2 class="title is-2 has-text-centered mb-6">SOFT-SKILLS</h2> <!--is 2 = tamanho / has-text-centered centraliza o texto horizontalmente / mb-6 Margem inferior -->
        
        <div class="soft-skills-container">  <!--conteiner principal-->
            <div class="soft-skill-card">    <!--cada card-->
                <div class="soft-skill-header">  <!--cabeçalho de cada card-->
                    <i class="fas fa-comments"></i>  <!--coleção de icons-->
                    <h3>Comunicação</h3>
                </div>
                <p class="soft-skill-desc">Capacidade de expressar ideias com clareza</p>
            </div>
            
            <div class="soft-skill-card">
                <div class="soft-skill-header">
                    <i class="fas fa-users"></i>
                    <h3>Trabalho em Equipe</h3>
                </div>
                <p class="soft-skill-desc">Colaboração eficaz em grupos</p>
            </div>
            
            <div class="soft-skill-card">
                <div class="soft-skill-header">
                    <i class="fas fa-brain"></i>
                    <h3>Pensamento Crítico</h3>
                </div>
                <p class="soft-skill-desc">Análise lógica e resolução de problemas complexos</p>
            </div>
            
            <div class="soft-skill-card">
                <div class="soft-skill-header">
                    <i class="fas fa-medal"></i>
                    <h3>Comprometimento</h3>
                </div>
                <p class="soft-skill-desc">Dedicação para entregar sempre o melhor resultado</p>
            </div>
            
            <div class="soft-skill-card">
                <div class="soft-skill-header">
                    <i class="fas fa-random"></i>
                    <h3>Flexibilidade</h3>
                </div>
                <p class="soft-skill-desc">Adaptação a mudanças e novos desafios</p>
            </div>
        </div>
    </div>
</section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Portfólio</strong> por Caroline Martini © 2025
            </p>
        </div>
    </footer>
</body>
</html>