<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Caroline Martini - Portfólio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/inicial.css">
</head>
<body>
    <header>
        <h1 class="text">Olá, me chamo Caroline Martini e o intúito desse site é apresentar um pouco sobre alguns projetos que venho desenvolvendo como estudante de Engenharia de Software, na Universidade do Vale do Taquari, Univates, e algumas qualificações pessoais.</h1>
    </header>

    <div class = "me">
      <img src = "../css/img/Imagem do WhatsApp de 2025-07-04 à(s) 22.07.24_980a4542.jpg">
    </div>
    
    <div class="skills-container">
        <div class="skill-card">
            <p><span class="skill-title">Linguagens de Programação</span></p>
            <hr class="skill-divider">
            <p class="skill-item">Java <span class="skill-level">Intermediário</span></p>
            <p class="skill-item">Python <span class="skill-level">Básico</span></p>
            <p class="skill-item">PHP <span class="skill-level">Básico</span></p>
            <p class="skill-item">SQL <span class="skill-level">Básico</span></p>
            <p class="skill-item">JavaScript <span class="skill-level">Básico</span></p>
        </div>

        <div class="skill-card">
            <p><span class="skill-title">Linguagens de Marcação</span></p>
            <hr class="skill-divider">
            <p class="skill-item">HTML <span class="skill-level">Intermediário</span></p>
            <p class="skill-item">CSS <span class="skill-level">Intermediário</span></p>
        </div>

        <div class="skill-card">
            <p><span class="skill-title">Frameworks</span></p>
            <hr class="skill-divider">
            <p class="skill-item">Django <span class="skill-level">Intermediário</span></p>
        </div>

        <div class="skill-card">
            <p><span class="skill-title">Recursos</span></p>
            <hr class="skill-divider">
            <p class="skill-item">Redes<span class="skill-level">Intermediário</span></p>
             <p class="skill-item">Linux<span class="skill-level">Básico</span></p>
        </div>
    </div>
</body>
</html>